.cp-common
{
    background-color:white;
    width: 25vw;
    height: 65vh;
    border: 1px solid black;
    /* border-radius: 10px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:20px;
}