.forgotpassword-div
{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.forgotpassword-box
{
    background-color:white;
    width:25vw;
    height: 65vh;
    border: 1px solid black;
    /* border-radius: 10px; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 35px;
}
.fg-p{
    font-size: 16px;
    font-family: sans-serif;
    font-weight:500 ;
}
.fg-inp
{
    width: 20vw;
    height: 4vh;
    /* border-radius: 10px; */
}
.fg-button
{
    width: 8vw;
    background-color: steelblue;
    height: 4vh;
    margin:10px;
    
}
.forgotfg-heading{
    font-style: italic;
    margin: 0px;
    padding: 0px;
}
