.Otp-otp-div
{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.Otp-fgv-common
{
    background-color:white;
    width: 25vw;
    height: 65vh;
    border: 1px solid black;
    /* border-radius: 10px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:30px;
}
.Otp-fgv-heading
{
    margin: 0;
    padding: 0;
    font-style: italic;
}
.Otp-fgv-inp{
    width:15vw;
    height: 4vh;
    margin-left: 50px;
}
.Otp-fg-button
{
    width: 8vw;
    background-color: steelblue;
    height: 4vh;
    margin-left: 8px;
}
.Otp-fg-p 
{
    font-size: 16px;
    font-family: serif;
}