.forgotpassword-div
{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.forgotpassword-box
{
    background-color:grey;
    width:25vw;
    height: 60vh;
    border: 2px solid black;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 40px;
}
.fg-p{
    font-size: 20px;
    font-weight:500 ;
}
.fg-inp
{
    width: 20vw;
    height: 40px;
    border-radius: 10px;
}
.fg-button
{
    width:150px;
    height: 40px;
    margin:10px;
    border-radius: 10px;
    font-size: 20px;
    background-color: steelblue;
}
.fg-hr
{
    width: 25vw;
}